<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PROBLEM SOLVER</title>
        <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVM7R32L2S"></script>
        <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-PVM7R32L2S');
        </script>
    </head>
    <body>
        <h1>PROBLEM SOLVER</h1>
        <div class="instructions">
            <p class="instruction">ARRANGE VERSES IN YOUR PREFERRED ORDER BY DRAGGING.</p>
            <p class="instruction">USE CHECKBOXES TO INCLUDE OR EXCLUDE VERSES.</p>
            <p class="instruction">CLICK GENERATE.</p>
        </div>
        <ul id="sortableList" class="draggable-list">
            <li class="draggable-item" data-id="0">
                <input type="checkbox" checked> CASH COBAIN
            </li>
            <li class="draggable-item" data-id="1">
                <input type="checkbox" checked> KYLE RICCH
            </li>
            <li class="draggable-item" data-id="2">
                <input type="checkbox" checked> KENZO B
            </li>
            <li class="draggable-item" data-id="3">
                <input type="checkbox" checked> LIL YACHTY
            </li>
            <li class="draggable-item" data-id="4">
                <input type="checkbox" checked> LAY BANKZ
            </li>
            <li class="draggable-item" data-id="5">
                <input type="checkbox" checked> BIG SEAN
            </li>
            <li class="draggable-item" data-id="6">
                <input type="checkbox" checked> FABOLOUS
            </li>
            <li class="draggable-item" data-id="7">
                <input type="checkbox" checked> ANYCIA
            </li>
            <li class="draggable-item" data-id="8">
                <input type="checkbox" checked> CHOW LEE
            </li>
            <li class="draggable-item" data-id="9">
                <input type="checkbox" checked> 6LACK
            </li>
        </ul><br>
        <button id="generate-button" onclick="generateMP3()">GENERATE</button>

        <div id="response">YOUR GENERATED MP3 WILL APPEAR HERE</div>
        <img src="https://problem-customized.s3.us-west-2.amazonaws.com/artwork_500x500.png">
        <script src="{{ url_for('static', filename='js/main.js') }}">
        </script>
    </body>
</html>
